._login-signup-container {
  max-width: 100vw;
  min-height: 40vmax;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

._form-container {
  top: 120px;
  width: 22vmax;
  height: 35vmax;
  border-radius: 10px;
  border: 1px solid rgb(150, 150, 150);
  overflow: hidden;
}
._login-signup-selection {
  display: flex;
  height: 3.5vmax;
}
._login-signup-selection > div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

._login-signup-form {
  width: 100%;
  height: 25vmax;
  display: flex;
}

._login-email,
._login-password,
._signup-email,
._signup-password,
._signup-name,
._signup-phone {
  position: relative;
  color: rgb(101, 101, 101);
}

._login-email,
._login-password {
  margin-top: 2.5vmax;
  width: 90%;
}
._signup-email,
._signup-password,
._signup-name,
._signup-phone {
  width: 90%;
  margin-top: 2vmax;
}
._login-signup-form input[type="text"],
input[type="email"],
input[type="password"] {
  padding-left: 3vmax;
  font-size: 1vmax;
  border-radius: 10px;
  width: 100%;
  border: 0.5px solid grey;
  height: 3vmax;
}

._login-form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

._user-avatar > img {
  width: 2vmax;
  margin-left: 1vmax;
  object-position: center;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  object-fit: cover;
}

._signup-form {
  min-width: 100%;
  transition: 0.3s;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
._login-signup-container > ._navbar-right {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: center;
  font-size: 2.5vmax;
  font-weight: 600;
}

._login-signup-form a {
  width: 100%;
  text-align: end;
  padding-right: 2vmax;
  font-size: 0.9vmax;
  margin-top: 2vmax;
  color: #10948c;
  transition: 0.3s ease-in;
}

._login-signup-form button {
  width: 90%;
  min-height: 3vmax;
  margin-top: 2vmax;
  border-radius: 5px;
  border: 0px;
  font-size: 1.2vmax;
  font-weight: 500;
  color: rgb(77, 77, 77);
  background-color: #b8f2f1;
  transition: 0.3s ease-in-out;
}

._user-avatar {
  display: flex;
  align-items: center;
  background-color: rgb(173, 173, 173);
  width: 90%;
  border-radius: 5px;
  margin-top: 1.5vmax;
  min-height: 3vmax;
  justify-content: space-evenly;
}
._user-avatar > input[type="file"] {
  color: transparent;
}
._user-avatar > input::file-selector-button {
  cursor: pointer;
  height: 2vmax;
  width: 80%;
  margin-left: 1vmax;
  border-radius: 5px;
  border: 0px;
  color: grey;
  font-family: "Almarai";
}
._password-validator {
  position: absolute;
  max-height: 1vmax;
  font-size: 0.7vmax;
  overflow: hidden;
  color: crimson;
}
._valid-pass {
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background: rgba(64, 255, 58, 0.194);
  background: linear-gradient(
    90deg,
    rgb(9, 255, 0) 0%,
    rgb(69, 255, 66) 32%,
    rgb(102, 255, 96) 66%,
    rgb(128, 255, 128) 100%
  );
  pointer-events: none;
  opacity: 0.3;
  transition: 0.3s ease-in;
}


._valid-password {
  max-height: 0vmax;
}
._login-signup-form button:hover {
  scale: 0.96;
  background-color: #7cebea;
}
._signup-formbutton:hover {
  scale: 0.96;
  background-color: #7cebea;
}
._signup-formbutton a:hover {
  color: #585858;
}
._login-signup-form a:hover {
  color: #585858;
}
._highlight-selection {
  background-color: #bbbbbb;
  transition: 0.3s;
}
._swipe-form-left {
  transform: translateX(-100%);
}
._swipe-form-right {
  transform: translateX(0%);
}
._form-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0, -50%);
}
._initiate-animation {
  width: 100%;
}
._signup-form button {
  width: 80%;
  height: 5vmax;
  font-size: 1.2vmax;
}

@media (max-width: 1000px) {
  ._login-signup-container {
    min-height: 100vh;
    min-width: 90%;
  }
  ._form-container {
    top: 120px;
    min-width: 85%;
    height: 82vmax;
    border-radius: 5px;
    border: 0.5px solid grey;
  }
  ._login-signup-selection {
    height: 7vmax;
  }

  ._login-signup-form {
    height: 100%;
  }
  ._login-email,
  ._login-password {
    margin-top: 5vmax;
    width: 80%;
  }
  ._signup-email,
  ._signup-password,
  ._signup-name,
  ._signup-phone {
    width: 80%;
    margin-top: 5vmax;
    background-color: antiquewhite;
  }
  ._login-signup-form input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 7vmax;
    padding-left: 5vmax;
    font-size: 2.5vmax;
    font-weight: 300;
  }

  ._user-avatar > img {
    width: 4vmax;
  }

  ._user-avatar {
    height: 8vmax;
    width: 80%;
    margin-top: 3.5vmax;
  }
  ._login-signup-form a {
    font-size: 2vmax;
    margin-top: 5vmax;
  }

  ._login-signup-form button {
    width: 80%;
    height: 8vmax;
    margin-top: 4vmax;
    font-size: 2vmax;
  }
  ._signup-form button {
    width: 80%;
    height: 8vmax;
    margin-top: 4vmax;
    font-size: 2vmax;
  }

  ._user-avatar > input::file-selector-button {
    cursor: pointer;
    height: 5vmax;
    margin-left: 3vmax;
  }
  ._login-signup-container > ._navbar-right {
    font-size: 6vmax;
    font-weight: 600;
    min-height: 15%;
    color: rgb(65, 65, 65);
  }
}
