._user-review-cont {
  position: relative;
  height:100vh;
  overflow: hidden;
}


._user-reviews-for-single-product {
  position: absolute;
  top:400vh;
  left: 0;
  width: 100%;
  transition: top .5s ease-in-out;
}

.toggle_reviews-section {
  top: 0 !important;
}
._admin-products-list{
    min-height: calc(100vh - 60px - 2.5vmax);
}

._review-heading{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(154, 154, 154); 
  padding-right: 0.5vmax;
  height: 2.5vmax;
}
._review-heading > button{
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: 0.3s ease-in-out;
}
._review-heading > button:hover{
  scale: 1.3;
}
._review-list{
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  width: 0px;
}

@media (max-width:1000px){

  
    
}