.about {
  overflow: hidden;
  position: relative;
}

.about_wrapper {
  width: 650vw;
  background-image: linear-gradient(90deg, #fff 55%, #5acece);
}

section {
  padding: 20vw 18vw;
  display: flex;
  align-items: center;
  height: 100vh;
}

.sectionss p {
  font-size: 15vw;
}
