.about {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: antiquewhite;
  overflow: hidden;
  position: relative;
}

.about_wrapper {
  padding: 5vmax;
  background-image: linear-gradient(90deg, #bde4e4 15%, #5acece);
  display: flex;
  justify-content:center ;
  align-items: center;
  /* background-image: linear-gradient(90deg, #fff 55%, #5acece); */
  min-height: 100vh;
}
.sectionss{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sectionss p {
  text-align: left;
  line-height: 2.2;
  font-weight: 400;
  color: rgb(72, 72, 72);
  font-size: 5vmax;
}
