._item-count {
  width: 83%;
}
.shop {
  display: flex;
  max-width: 100vw;
  background-color: #f1f3f6;
  padding: 8px;
}

._product-filter {
  width: 18%;
  background-color: #f1f3f6;
}

._active-filters {
  min-height: 4vmax;
  background-color: #ffffff;
  margin: 8px 0 2px 0;
  padding-top: 1.2vmax
}
._active-filters > p:not(:first-child){
  margin-left: 2vmax;
  width: fit-content;
  padding:0.5vmax;
  border-radius: 0.5vmax;
  background-color: rgb(221, 255, 170);
  margin-bottom: 0.5vmax;
  transition: 0.3s ease-in-out;
}
._active-filters >  p:not(:first-child):hover{
  background-color: rgb(255, 213, 213);
  padding:0.5vmax;
}

._product-filter > div > p:first-child {
  font-size: 1.5vmax;
  font-weight: 500;
  margin-left: 1vmax;
}
._all-filters {
  background-color: #ffffff;
  margin-top: 0.8vmax;
  padding-top: 1.5vmax;
}
._all-filters > label {
  font-weight: 500;
  margin-left: 1vmax;
  font-size: 1.2vmax;
}
._all-filters form {
  margin-left: 2vmax;
  margin-bottom: 1vmax;
}
._filter-info{
  display: flex;
  align-items: center;
  margin-bottom: 0.5vmax;
}
._all-filters input {
  width: 3vmax;
  height: 0.5vmax;
  margin: 5px 8px 5px 0px;
}
._all-filters input[name="max"] {
  margin-left: 8px;
}
._product-showcase {
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._rating-sort > div {
  display: flex;
  margin-left: 2.2vmax;
  margin-bottom: 0.3vmax;
  padding: 0 0.5vmax;
  cursor: pointer;
  transition: 0.3s ease-in-out ;
  width: fit-content;
}
._rating-sort > div:hover {
  background-color: rgb(215, 242, 250);
  border-radius: 0.8vmax;
}

._rating-active{
  background-color: rgb(215, 242, 250);
  border-radius: 0.8vmax;
}


._rating-sort strong{
  font-weight: 600;
  margin-left: 0.3vmax;
}
._filter-sort {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 80vmax;
  height: 6vmax;
  background-color: #ffffff;
  padding-left: 1vmax;
  margin: 8px 0;
  
}
._filter-info > span{
  font-size: 500;
  margin: 0 1vmax;
}
._filter-category {
  display: block;
  margin-left: 2vmax;
}

._product-filter-category{
  margin-bottom: 1.8vmax;
}

._product-filter-category li{
  list-style: none;
  margin-left: 0.8vmax;
  transition: 0.3s ease-in;
  cursor: pointer;
}
._product-filter-category li:hover{
  color: rgb(74, 116, 222);
  font-size: 1.15vmax;
}
._apply-category{
  color: rgb(74, 116, 222) !important;
  font-size: 1.15vmax !important;  
}
._product-container-all {
  background-color: #ffffff;
  width: 77.7vmax;
  display: flex;
  flex-wrap: wrap;
  min-height: 85vh;
}
._all-products {
  width: 80vmax;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.2vmax;
}

.hidden_warning {
  display: none;
}
._invalid-price {
  display: block;
}
._filter-sort > div  button{
  background-color: transparent;
  border: 0;
  color: rgb(143, 142, 142);
  padding: 0.5vmax 1vmax 0.5vmax 0;
  border-radius: 0.7vmax;
  margin: 0 0.4vmax 0.2vmax 0.4vmax;
  font-size: 1vmax;
  transition: 0.3s ease-in-out;
}
._filter-sort > div  button:hover{
  padding: 0.5vmax 1vmax;
  background-color: #d7fffed2;
}

._filter-applied{
  padding: 0.5vmax 1vmax !important;
  background-color: #d7fffed2 !important;
  margin: 0 0.4vmax;

}
._result{
  margin: 0 0.4vmax;
  font-size: 1.2vmax;
  color: rgb(78, 78, 78);
  font-weight: 500;
}
._result span:last-child{
  display: none;
}
.pagination{
  list-style: none;
  display: flex;
}

.pagination li{
  margin: 1vmax;
}

._no-filer-result{
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

._filter-close{
  display: none !important;
}
._filter-mobile-view{
  display: none;
}

._pagination-box > p{
  font-size: 1.5vmax;
  color: rgb(158, 158, 158);
  margin: 1vmax;
}
@media (max-width : 1000px) {

  .shop{
    padding-top: 0;
  }
  ._apply-category{
    color: rgb(74, 116, 222) !important;
    font-size: 2.8vmax !important;  
  }

  ._product-filter{
    position: fixed;
    top:0;
    left:-100vw;
    width: 100vw;
    background-color: rgb(215, 242, 250);
    min-height: 100vh;
    z-index: 10000;
    display: flex;
    transition: 0.3s ease-out;
    flex-direction: column;
    justify-content: space-between !important;
    padding-bottom: 10vmax;
  }
  ._product-filter-active{
    left: 0vw;
  }
  ._active-filters{
    padding-top:0;
    min-height: 10vmax;
    display: flex;
    border-radius: 3vmax;
    flex-direction: column;
    justify-content: center;
  }

  ._product-filter > div > p:first-child {
    font-size: 2.5vmax;
}
._product-filter-category li {
  font-size: 2.5vmax;
  font-weight: 500;
}
._all-filters > label {
  font-size: 2.2vmax;
}
._all-filters {
  position: relative;
  border-radius: 3vmax;
}

._filter-mobile-view > span{
  font-size: 0.8vmax !important;
  color: gold;
}
._filter-mobile-view{
  align-self: flex-start;
  margin-right: 1vmax;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: row !important;
  display: flex;
  font-size: 1.8vmax;
  padding-top: 1.4vmax;
  font-weight: 500;
  color: rgb(0, 213, 255);
}
  ._filter-close{
    display: block !important;
    position:absolute ;
    top:-4vmax;
    right: 4vmax;
    right: 10px;
  }
  ._filter-sort,
  ._all-products,
  ._product-container-all{
    max-width: 100vw;
  }
  ._product-container-all{
    display: flex;
    background-color: #ffffff;
    min-height: 85vh;
    width: 100%;
  }
  ._product-showcase{
    width: 100%;
  }
  ._filter-sort{
    margin-top: 6px;
    align-items: center;
    height: 10vmax;
  }

  ._result{
    font-size: 2.2vmax;
    display: flex;
    justify-content: space-between;
  }
._result span:last-child{
  display: block;
}
  ._filter-sort > div button{
    font-size: 1.4vmax;
  }
  ._shop-all-products{
    display: flex;
    height: 28vmax;
    padding-left: 1vmax;
    max-width: 100vw;
    flex:1;
    padding: 0;
    margin-bottom: 2vmax;
  }
  ._shop-all-products > a{
    display: flex;
    overflow: hidden;
    width: 100vw;
    border-top: 0.5px solid rgb(191, 191, 191);
    border-bottom: 0.5px solid rgb(192, 192, 192);
  }
  ._all-filters input {
    width: 5vmax;
  
  }
  ._all-products {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.2vmax;
  }
  ._pagination-box > p{
    font-size: 2vmax;
  }
}